<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:p="http://www.springframework.org/schema/p"
		xsi:schemaLocation="http://www.springframework.org/schema/beans  
				http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context  
				http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		p:location="classpath:jdbc.properties"
		p:fileEncoding="utf-8"></bean>
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass">
			<value>${driverClassName}</value>
		</property>
		<property name="jdbcUrl">
			<value>${jdbcUrl}</value>
		</property>
		<property name="user">
			<value>${userName}</value>
		</property>
		<property name="password">
			<value>${password}</value>
		</property>
		<property name="initialPoolSize">
			<value>2</value>
		</property>
		<property name="minPoolSize">
			<value>2</value>
		</property>
		<property name="maxPoolSize">
			<value>4</value>
		</property>
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="annotatedPackages">
			<list>
				<value>org.hb0712.yang.opencms.pojo</value>
			</list>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>org.hb0712.yang.opencms.pojo.Directory</value>
				<value>org.hb0712.yang.opencms.pojo.Home</value>
				<value>org.hb0712.yang.opencms.pojo.Folder</value>
				<value>org.hb0712.yang.opencms.pojo.Text</value>
				<value>org.hb0712.yang.opencms.pojo.User</value>
			</list>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>

	<context:component-scan base-package="org.hb0712.yang.opencms.dao.impl"/>
	<context:component-scan base-package="org.hb0712.yang.opencms.service.impl"/>
	

</beans>